@import "pre-styles";

article {
    max-width: 1028px;
    margin: 0 auto;
    padding: 15px;
    font-size: 30px;
    background-color: $dark;
    color: $light;
}
h1 {
    font-size: 50px;
    font-style: italic;
    text-align: center;
}
div {
    margin: 0 auto;
    width: 145px;
}
button {
    width: 145px;
    height: 30px;
    border-radius: 5px;
}
span {
    display: none;
}
.active {
    display: block;
}